= form_for @video do |f|
  .row
    .col-xs-6.col-xs-offset-3
      .panel.panel-default
        .panel-heading
        .panel-body
          .row.bottom_10
            .col-xs-12
              = label(:video, :watermark_text)
              = f.text_field :watermark_text, class: 'form-control'

          - if @video.new_record?
            .row
              .col-xs-12
                %label.btn.btn-default.btn-block
                  = t('.choose')
                  = f.file_field :file, class: 'hidden'

  .text-center
    = f.submit class: 'btn-success btn-lg'
