.page-header
  %h1.clearfix
    .pull-left= t('.title')
    .pull-right
      = link_to new_video_path, class: 'btn btn-default' do
        = t('.add')
        = glyph 'plus-sign'

.page-content
  .row
    - @videos.each do |video|
      .col-xs-12.col-sm-6.col-md-4
        = render 'videos/thumbnail', video: video

  .row.text-center
    %nav
      %ul.pager
        %li
          = link_to_prev_page @videos, t('.prev')
          = link_to_next_page @videos, t('.next')
